.member-icon-default {
    font-size: 35px !important;
    background-color: #F50057 !important;
    width: 66px !important;
    height: 66px !important;
}

.member-icon {
    width: 66px !important;
    height: 66px !important;
}

.member-card {
    width: 300px !important;
}

.member-card-body {
    text-align: -webkit-center;    
}

.member-card-footer {
    text-align: right;
}

.btn-primary {
    background-color: #3f51b5 !important;
}

.addMember .MuiSvgIcon-root {
    font-size: 1.8rem !important;
    color: #ffc851 !important;
}

.addMember {
    height: 45px;
    width: 45px;
}

.addMember:hover {
    background-color: #fdf9f2 !important;
}


.MuiDataGrid-cell:focus {
    outline: none !important;
}

.MuiDataGrid-columnHeader {
    outline: none !important;
    color: #294E95;
    font-weight: 400 !important;
}

.Mui-selected {
    background-color: transparent !important;
}

.MuiDataGrid-root {
    border: none !important;
}

.MuiDataGrid-iconSeparator {
    color: #ffc851 !important;
}

.MuiDataGrid-root .MuiDataGrid-row:hover {
    background-color:#F8F9FF !important;
}

.MuiDataGrid-root .MuiDataGrid-columnHeader:focus-within, .MuiDataGrid-root .MuiDataGrid-cell:focus-within {
    outline: none !important;
}

.add-member-dialog .MuiFormLabel-root.Mui-focused {
    color: #f8c24e !important;
}
  
.add-member-dialog .MuiInput-underline:after  {
    border-bottom: 2px solid #f8c24e !important;
}

.add-member-dialog-title {
    color: #294E95;
}

.add-member-input .MuiInputBase-input{
    font-size: small !important;
}

.add-member-submit {
    color: #FFC851 !important;
 }

 .add-member-submit:hover {
    color: #FFC851;
    background-color: #fdf9f2 !important;
 }

 .add-member-cancel {
    color: #3f51b5 !important;
 }

 .add-member-cancel:hover {
    color: #3f51b5;
    background-color: #F8F9FF !important;
 }

 .MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainer {
     justify-content: center;
 }

 .MuiDataGrid-root .MuiDataGrid-cell {
    text-align-last: center;
 }

 .MuiDataGrid-root .MuiDataGrid-cellRight {
    text-align-last: right;
 }